:root {
    --bg-white: #ffffff;
    --bg-black: #2e2f42;
    --bg-team: #f4f4fd;
    --color-text: #434455
}

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.list,
ul,
ol {
    list-style: none;
}

.link,
a {
    text-decoration: none;
    color:black;
}

.btn,
button {
    cursor: pointer;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio,
.studio-down{
    color: black;
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-black);
}

.header-link {
    color: #2e2f42;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus {
    color: #404BBF;
}


.hero {
    background-color: #2E2F42;
    height: 600px;

    flex-shrink: 0;
}

.hero-title {
    color: #FFF;
        width: 496px;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        margin: 120px auto;
        padding-top: 120px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background: #4D5AE5;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    margin: 48px 636px;
 
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}

.button-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}
.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.advantages-desc {
color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.doing-list{
        display: flex;
            justify-content: center;
            gap: 24px;
}

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}
.doing-item{
    background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
}


.team {
        background-color: #F4F4FD;
        height: 732px;
        flex-shrink: 0;
        margin: 120px auto;
}

.team-title {
color: var #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 120px 0 72px 0;
}


.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-name {
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 32px 0 32px 0;
    text-align: center;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 32px 0 8px 0;
    text-align: center;
}

.footer {
    background-color: #2E2F42;
    text-decoration: none;
}

.footer-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.portfolio-menu {
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--text-footer-color);
    border: 1px solid var(--border-portfolio-color);
    color: var(--logo-color);
    cursor: pointer;
    border-radius: 4px;
    height: 48px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    align-items: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--bg-white);
    background-color: #404BBF;
}

.portfolio-text {
    color: var(--main-dark-accent);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-project-menu {
    row-gap: 48px;
}

.portfolio-main-item .portfolio-main {
    list-style: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}