h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.list {
  list-style-type: none;
  display: flex;
}
body {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        color: #434455;

}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.our-approach {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

       /* HEADER */

 .header {
     border-bottom: 1px solid #e7e9fc;
 }
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .page-navigation {
    display: flex;
    align-items: center;
}
.logo-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 76px;

}
.logo-Studio-link{
            color: #2E2F42;
}
.navigation{
    gap: 40px;
}
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}
.header-link{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}
.address {
    font-style: normal;
}
.address-list {
    gap: 40px;
    list-style-type: none;
    display: flex;
  }
.address-link {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

  /* HERO */

.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}
.hero-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}
/* First section after hero */
.privilege-section{
    padding: 120px 0;
}
.privilege-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.privilege{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.privilege-p {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

/* Our team */
.team-section{
    padding: 120px 0;
    background-color: #F4F4FD;
}
.team-title  {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto; 
    margin-left: auto;
}
.team-list
 {
    gap: 24px;
    list-style-type: none;
    display: flex;
}
.team-li
 {
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}
.team-div{
    padding: 32px 0;
    text-align: center;
}

.title-name
 {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.title-position
 {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


    /* section Our Porfolio*/


.portfolio-section {
padding: 120px 0;
}

.container-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

.portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.portfolio-item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    width: calc((100% - 48px) / 3);
}
.portfolio-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-position{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*   < !-- section Footer -->*/

.footer-section {
    background: #2E2F42;
    padding: 100px 0;
}
.logo-link-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}
.logo-footer {
    color: #F4F4FD;
}
.footer-p{
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}